.container-input {
  margin: 24px 0;
}

.container-input label {
  display: block;
  font-size: 24px;
  margin-bottom: 8px;
}

.container-input input {
  width: 100%;
  border: none;
  padding: 24px;
  font-size: 24px;  
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.6);
}

